@import "/src/themes/scss-themes";

[class^="btn"] {
  outline: 0;
  border: 0;
  border-radius: var(--shape-borderRadius);
  white-space: nowrap;
  word-break: keep-all;
  cursor: pointer;
  padding: 5px 8px;
}

$palettes: (
  "p5y": $light-primary-main,
  "s7y": $light-success-main,
  "info": $light-info-main,
  "success": $light-success-main,
  "warning": $light-warning-main,
  "error": $light-error-main,
);

// 1. 文字按钮
.btn,
.btn-fill {
  word-break: keep-all;
  white-space: nowrap;
  gap: 8px;
  height: 32px;
  border: 0;
  outline: 0;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  user-select: none;
}

.touchable:hover,
.feedback:hover,
.btn:hover {
  cursor: pointer;
  background-color: var(--plt-btn-default-hoverBackground);
}

.touchable:active,
.feedback:active,
.btn:active {
  background-color: var(--plt-btn-default-activeBackground);
}

.touchable.selected,
.feedback.selected {
  background-color: var(--plt-btn-default-selectedBackground);
}

.touchable.selected:hover,
.feedback.selected:hover {
  background-color: var(--plt-btn-default-selectedHoverBackground);
}

.touchable.selected:active,
.feedback.selected:active {
  background-color: var(--plt-btn-default-selectedActiveBackground);
}

@each $name, $value in $palettes {
  .btn.btn-#{$name} {
    color: $value;
  }
  .btn.btn-#{$name}:hover,
  .btn.btn-#{$name}.hover {
    background-color: rgba($value, 0.05);
  }
  .btn.btn-#{$name}:active,
  .btn.btn-#{$name}.active {
    background-color: rgba($value, 0.09);
  }
}

// 2. 图标按钮
.btn-icon {
  width: 32px;
  border-radius: 50%;
  padding: 0;
  //font-size: 24px;
}

// 3. 线条按钮
.btn-line {
  border: 1px solid var(--plt-btn-default-border);
}

@each $name, $value in $palettes {
  .btn-line.btn-#{$name} {
    border-color: $value;
  }
  .btn-line.btn-#{$name}:hover,
  .btn-line.btn-#{$name}.hover {
    border-color: darken($value, 10%);
  }
  .btn-line.btn-#{$name}:active,
  .btn-line.btn-#{$name}.active {
    border-color: darken($value, 20%);
  }
}

// 2. 实心按钮
.btn-fill {
  border: 1px solid rgba(27, 31, 35, 0.15);
  background-color: var(--plt-btn-default-background);
}

.btn-fill:hover {
  border: 1px solid #1b1f2326;
  background-color: var(--plt-btn-default-hoverBackground);
}

.btn-fill:active {
  border: 1px solid #1b1f231a;
  background-color: var(--plt-btn-default-activeBackground);
}

@each $name, $value in $palettes {
  .btn-fill.btn-#{$name} {
    color: #fff;
    background-color: $value;
  }
  .btn-fill.btn-#{$name}:hover,
  .btn-fill.btn-#{$name}.hover {
    background-color: darken($value, 10%);
  }
  .btn-fill.btn-#{$name}:active,
  .btn-fill.btn-#{$name}.active {
    background-color: darken($value, 20%);
  }
}

// 大小
.btn-sm {
  width: 24px;
  height: 24px;
}

.btn-lg {
  height: 40px;
}

.btn-xl {
  height: 48px;
}

.btn-rd {
  border-radius: 32px;
}

.btn-icon-square {
  border-radius: 4px;
}

.btn-icon.btn-lg {
  height: 40px;
  width: 40px;
}

.btn-block {
  display: block;
}

.btn[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}
