.dropdown-container {
  position: relative;
}

.dropdown-body {
  position: absolute;
  background-color: var(--palette-background-paper);
  padding: 5px;
  border-radius: var(--shape-borderRadius);
  right: 0;
  top: calc(100% + 2px);
}
