// 菜单
.menu {
  margin: 0;
  padding: 5px 0;
  list-style: none;
  z-index: 999999;
  transform-origin: left top;
}

.menu-item {
  position: relative;
}

.menu-navi {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.menu-link {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  gap: 8px;
  flex: 1;
  color: currentColor;
  text-decoration: none;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--palette-primary-main);
  }
  &.has-active {
    color: var(--palette-primary-main);
  }
  &.active {
    background-color: #1976d225;
    color: var(--palette-primary-main);
  }
}

.menu-icon {
  display: flex;
}

.menu-text {
  word-break: keep-all;
  white-space: nowrap;
}

.menu-chevron {
  width: 12px;
  height: 12px;
  display: block;
  svg {
    width: 12px;
    height: 12px;
    display: block;
  }
}

// 竖直菜单
.menu.vertical .menu {
  position: relative;
}

// 水平菜单
.menu.horizontal {
  display: flex;
  .menu {
    position: absolute;
    width: 200px;
  }

  // 子级菜单
  .menu.l2 {
    top: calc(100% + 5px);
    left: 0;
  }

  .menu.l3 {
    left: calc(100% + 1px);
    top: 0;
  }

  .menu-chevron {
    display: none;
  }
}

// shrink
.menu-link.l1 {
  transition: padding var(--transitions-duration-shorter)
    var(--transitions-easing-sharp);
}
.menu.l1.shrink {
  flex-direction: column;

  .menu {
    background-color: var(--sidebar-bg);
    border-radius: var(--shape-borderRadius);
  }

  .menu.l2 {
    top: 0;
    left: calc(100% + 2px);
  }

  .menu-link.l1 {
    padding-left: 11px !important;

    .menu-text,
    .menu-chevron {
      display: none;
    }
  }
}
