// menu
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-navi {
  cursor: pointer;
  user-select: none;
}

.menu .menu {
  position: absolute;
}

// menu vertical
.menu.vertical .menu {
  position: relative;
}

// menu horizontal
.menu.horizontal {
  display: flex;
}

.menu-navi {
  color: currentColor;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.menu-link {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.menu-link-content {
  display: flex;
  gap: 8px;
}

//

.expand-enter-active {
  transition: all 0.2s ease-in-out;
}

.expand-exit-active {
  transition: all 0.2s ease-in-out;
}

// horizontal
.dropdown-enter-active {
  opacity: 0.25;
  transform: translate3d(0, -10px, 0);
}

.dropdown-enter-to {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.dropdown-exit-to {
  opacity: 0.5;
  transform: translate3d(0, 0, 0);
}

//
.dropdown-enter-active {
  transition: all 0.2s ease-in-out;
}

.dropdown-exit-active {
  transition: all 0.2s ease-in-out;
}
