:root {
  --palette-primary-0: #000000;
  --palette-primary-10: #390b00;
  --palette-primary-20: #5d1800;
  --palette-primary-30: #7c2e0f;
  --palette-primary-40: #9b4525;
  --palette-primary-50: #ba5c3a;
  --palette-primary-60: #da7551;
  --palette-primary-70: #fa8f69;
  --palette-primary-80: #ffb59a;
  --palette-primary-90: #ffdbce;
  --palette-primary-95: #ffede6;
  --palette-primary-99: #fcfcfc;
  --palette-primary-100: #ffffff;
  --palette-secondary-0: #000000;
  --palette-secondary-10: #2c160e;
  --palette-secondary-20: #442a21;
  --palette-secondary-30: #5d4036;
  --palette-secondary-40: #77574c;
  --palette-secondary-50: #926f64;
  --palette-secondary-60: #ad887c;
  --palette-secondary-70: #caa396;
  --palette-secondary-80: #e7bdb0;
  --palette-secondary-90: #ffdbce;
  --palette-secondary-95: #ffede6;
  --palette-secondary-99: #fcfcfc;
  --palette-secondary-100: #ffffff;
  --palette-tertiary-0: #000000;
  --palette-tertiary-10: #221b00;
  --palette-tertiary-20: #393005;
  --palette-tertiary-30: #51461a;
  --palette-tertiary-40: #6a5e2f;
  --palette-tertiary-50: #847745;
  --palette-tertiary-60: #9e905c;
  --palette-tertiary-70: #baab74;
  --palette-tertiary-80: #d6c68d;
  --palette-tertiary-90: #f3e2a7;
  --palette-tertiary-95: #fff1b9;
  --palette-tertiary-99: #fffbf7;
  --palette-tertiary-100: #ffffff;
  --palette-neutral-0: #000000;
  --palette-neutral-10: #201a18;
  --palette-neutral-20: #362f2d;
  --palette-neutral-30: #4d4543;
  --palette-neutral-40: #655d5a;
  --palette-neutral-50: #7f7572;
  --palette-neutral-60: #998f8c;
  --palette-neutral-70: #b4a9a6;
  --palette-neutral-80: #d0c4c1;
  --palette-neutral-90: #ede0dc;
  --palette-neutral-95: #fceeea;
  --palette-neutral-99: #fcfcfc;
  --palette-neutral-100: #ffffff;
  --palette-neutralVariant-0: #000000;
  --palette-neutralVariant-10: #251915;
  --palette-neutralVariant-20: #3b2d29;
  --palette-neutralVariant-30: #53433e;
  --palette-neutralVariant-40: #6c5b56;
  --palette-neutralVariant-50: #85736d;
  --palette-neutralVariant-60: #a08d87;
  --palette-neutralVariant-70: #bca7a1;
  --palette-neutralVariant-80: #d8c2bb;
  --palette-neutralVariant-90: #f5ded7;
  --palette-neutralVariant-95: #ffede6;
  --palette-neutralVariant-99: #fcfcfc;
  --palette-neutralVariant-100: #ffffff;
  --palette-error-0: #000000;
  --palette-error-10: #410001;
  --palette-error-20: #680003;
  --palette-error-30: #930006;
  --palette-error-40: #ba1b1b;
  --palette-error-50: #dd3730;
  --palette-error-60: #ff5449;
  --palette-error-70: #ff897a;
  --palette-error-80: #ffb4a9;
  --palette-error-90: #ffdad4;
  --palette-error-95: #ffede9;
  --palette-error-99: #fcfcfc;
  --palette-error-100: #ffffff;

  --scheme-primary: #9b4525;
  --scheme-onPrimary: #ffffff;
  --scheme-primaryContainer: #ffdbce;
  --scheme-onPrimaryContainer: #390b00;
  --scheme-secondary: #77574c;
  --scheme-onSecondary: #ffffff;
  --scheme-secondaryContainer: #ffdbce;
  --scheme-onSecondaryContainer: #2c160e;
  --scheme-tertiary: #6a5e2f;
  --scheme-onTertiary: #ffffff;
  --scheme-tertiaryContainer: #f3e2a7;
  --scheme-onTertiaryContainer: #221b00;
  --scheme-error: #ba1b1b;
  --scheme-onError: #ffffff;
  --scheme-errorContainer: #ffdad4;
  --scheme-onErrorContainer: #410001;
  --scheme-background: #fcfcfc;
  --scheme-onBackground: #201a18;
  --scheme-surface: #fcfcfc;
  --scheme-onSurface: #201a18;
  --scheme-surfaceVariant: #f5ded7;
  --scheme-onSurfaceVariant: #53433e;
  --scheme-outline: #85736d;
  --scheme-shadow: #000000;
  --scheme-inverseSurface: #362f2d;
  --scheme-inverseOnSurface: #fceeea;
  --scheme-inversePrimary: #ffb59a;
}
.dark {
  --scheme-primary: #ffb59a;
  --scheme-onPrimary: #5d1800;
  --scheme-primaryContainer: #7c2e0f;
  --scheme-onPrimaryContainer: #ffdbce;
  --scheme-secondary: #e7bdb0;
  --scheme-onSecondary: #442a21;
  --scheme-secondaryContainer: #5d4036;
  --scheme-onSecondaryContainer: #ffdbce;
  --scheme-tertiary: #d6c68d;
  --scheme-onTertiary: #393005;
  --scheme-tertiaryContainer: #51461a;
  --scheme-onTertiaryContainer: #f3e2a7;
  --scheme-error: #ffb4a9;
  --scheme-onError: #680003;
  --scheme-errorContainer: #930006;
  --scheme-onErrorContainer: #ffb4a9;
  --scheme-background: #201a18;
  --scheme-onBackground: #ede0dc;
  --scheme-surface: #201a18;
  --scheme-onSurface: #ede0dc;
  --scheme-surfaceVariant: #53433e;
  --scheme-onSurfaceVariant: #d8c2bb;
  --scheme-outline: #a08d87;
  --scheme-shadow: #000000;
  --scheme-inverseSurface: #ede0dc;
  --scheme-inverseOnSurface: #362f2d;
  --scheme-inversePrimary: #9b4525;
}
