@import "../variables/breakpoints";

:root {
  --topbar-bg: rgba(255, 255, 255, 0.5);
  --topbar-hover-bg: rgba(255, 255, 255, 0.55);
  --topbar-menu-bg: rgba(255, 255, 255, 0.5);
  --topbar-menu-hover-bg: rgba(0, 0, 0, 0.15);
  --topbar-height: 40px;
  --topbar-color: var(--palette-text-secondary);
  --topbar-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

.dark {
  --topbar-bg: rgba(0, 0, 0, 0.2);
  --topbar-hover-bg: rgba(0, 0, 0, 0.5);
  --topbar-menu-bg: rgba(0, 0, 0, 0.5);
  --topbar-menu-hover-bg: rgba(255, 255, 255, 0.55);
  --topbar-height: 40px;
  --topbar-color: var(--palette-text-secondary);
  --topbar-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.topbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: var(--topbar-height);
  background: var(--topbar-bg);
  color: var(--topbar-color);
  z-index: var(--zIndex-appBar);
  display: flex;
  align-items: center;
  justify-content: space-between;
  //box-shadow: var(--shadows-1);
  backdrop-filter: blur(5px);
}

.topbar-left {
  display: flex;
  height: 100%;
  align-items: center;
}

// 菜单
.topbar {
  .menu.l1 {
    padding: 4px 0;
  }

  .menu:not(.l1) {
    background: var(--topbar-menu-bg);
    border-radius: 4px;
    .menu-link:hover {
      background-color: var(--topbar-menu-hover-bg);
    }
  }
}

//
.topbar-left .menu.l1 {
  display: none;
}
//
.brand {
  margin: 0;
  height: 40px;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 0 21px;
  cursor: pointer;
  font-weight: 500;
  svg {
    display: flex;
    width: 20px;
    height: 20px;
  }
}

.brand-toggle {
  padding: 6px;
  border-radius: 4px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.brand-name {
  display: flex;
  align-items: center;
  gap: 2px;
  color: rgb(212, 35, 122);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .brand-toggle {
    display: none;
  }
  .topbar-left .menu.l1 {
    display: flex;
  }
}
