@import "../variables/breakpoints";

:root {
  --sidebar-bg: rgba(255, 255, 255, 0.5);
  --sidebar-menu-bg: rgba(0, 0, 0, 0.05);
  --sidebar-hover-bg: rgba(255, 255, 255, 0.8);
  --sidebar-width: 240px;
  --sidebar-shink-width: 50px;
  --sidebar-color: var(--palette-text-primary);
  --sidebar-transition-duration: 95ms;
}

.dark {
  --sidebar-bg: rgba(0, 0, 0, 0.5);
  --sidebar-menu-bg: rgba(0, 0, 0, 0.05);
  --sidebar-hover-bg: rgba(0, 0, 0, 0.4);
  --sidebar-color: var(--palette-text-primary);
}

// 侧边栏滑出时候全屏 mask
.sidebar-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: calc(var(--zIndex-drawer) - 1);
  transition: background-color var(--sidebar-transition-duration)
    var(--transitions-easing-sharp);
}

.sidebar-mask.show {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: $breakpoints-values-md) {
  .sidebar-mask {
    display: none;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translate3d(-100%, 0, 0);
  z-index: var(--zIndex-drawer);
  transition: all var(--sidebar-transition-duration)
    var(--transitions-easing-sharp);

  background: var(--sidebar-bg);
  color: var(--sidebar-color);
  backdrop-filter: blur(5px);
}

.sidebar.float {
  transform: translate3d(0, 0, 0);
  width: var(--sidebar-width);
}

.sidebar {
  .menu-chevron {
    transition: all var(--sidebar-transition-duration) ease;
  }
  .menu-navi.open {
    .menu-chevron {
      transform: rotate(90deg);
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
}

.sidebar-content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: transparent;
}

.sidebar-content:hover::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.2);
}

.sidebar-content:hover::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.sidebar-content {
  height: 100%;
  overflow-y: auto;
}
.sidebar.shrink .sidebar-content {
  overflow-y: initial;
}

// 中屏/大屏幕侧边栏
.sidebar.hiding,
.sidebar.shrink,
.sidebar.full {
  display: block;
  position: sticky;
  top: var(--topbar-height);
  transform: translate3d(0, 0, 0);
  height: calc(100vh - var(--topbar-height));
  // 隐藏 logo
  .brand {
    display: none;
  }
  .menu-link.l1 {
    transition: all var(--sidebar-transition-duration) ease;
  }
}

// 中屏侧边栏
.sidebar.shrink {
  width: var(--sidebar-shink-width);
  .menu.l2,
  .menu.l3 {
    background-color: var(--sidebar-bg);
    border-radius: var(--shape-borderRadius);
    position: absolute;
    top: 0;
    left: calc(100% + 2px);
  }
  .menu-link.l1 {
    padding-left: 11px !important;
    .menu-text,
    .menu-chevron {
      display: none;
    }
  }
}

// 正在收缩的侧边栏
.sidebar.shrinking .menu.l2,
.sidebar.shrinking .menu.l3 {
  position: static;
  overflow: hidden;
}

// 大屏侧边栏
.sidebar.full {
  width: var(--sidebar-width);
  .menu,
  .menu-link {
    overflow: hidden;
  }
}

// 消失状态的侧边栏
.sidebar.hiding {
  width: 0;
  .menu-link.l1 {
    padding-left: 11px !important;
    .menu-text,
    .menu-chevron {
      display: none;
    }
  }
}

.sidebar.hiding .menu {
  position: static;
  overflow: hidden;
}
