@import "../variables/breakpoints";

:root {
  --sidebar-bg: rgba(255, 255, 255, 0.5);
  --sidebar-menu-bg: rgba(0, 0, 0, 0.05);
  --sidebar-hover-bg: rgba(255, 255, 255, 0.8);
  --sidebar-width: 240px;
  --sidebar-shink-width: 40px;
  --sidebar-color: var(--palette-text-primary);
}

.dark {
  --sidebar-bg: rgba(0, 0, 0, 0.5);
  --sidebar-menu-bg: rgba(0, 0, 0, 0.05);
  --sidebar-hover-bg: rgba(0, 0, 0, 0.4);
  --sidebar-color: var(--palette-text-primary);
}

.sidebar-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: calc(var(--zIndex-drawer) - 1);
  transition: background-color var(--transitions-duration-shorter)
    var(--transitions-easing-sharp);
}

.sidebar-mask.float {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translate3d(-100%, 0, 0);
  z-index: var(--zIndex-drawer);
  transition: all var(--transitions-duration-shorter)
    var(--transitions-easing-sharp);
  background: var(--sidebar-bg);
  color: var(--sidebar-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  //
  display: flex;
  flex-direction: column;
}

.sidebar.float {
  transform: translate3d(0, 0, 0);
  width: var(--sidebar-width);
}

.sidebar-content {
  overflow-y: auto;
  flex: 1;
}

.sidebar {
  .menu {
    overflow: hidden;
  }
  .menu-chevron {
    transition: all 95ms ease;
  }
  .menu-navi.open {
    .menu-chevron {
      transform: rotate(90deg);
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
}

.sidebar-content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: transparent;
}

.sidebar-content:hover::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.2);
}

.sidebar-content:hover::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .menu-navi.l1 {
    transition: all 0.2s ease;
  }
  .sidebar-mask {
    display: none;
  }
  .sidebar-content {
    overflow: unset;
  }
  .sidebar {
    transform: translate3d(0, 0, 0);
    display: block;
    position: sticky;
    top: var(--topbar-height);
    height: calc(100vh - var(--topbar-height));
    width: 240px;
    overflow-y: unset;
    .brand {
      display: none;
    }
    .menu {
      overflow: unset;
    }
  }
  .sidebar.full {
    width: 240px;
  }
}
