:root {
  // header
  --header-bg: rgba(255, 255, 255, 0.8);
  --header-height: 40px;
  --header-color: rgba(0, 0, 0, 0.6);

  // sider
  --sider-bg: rgba(255, 255, 255, 0.8);
  --sider-width: 240px;
  --sider-color: rgba(0, 0, 0, 0.6);
}

.dark {
  // header
  --header-bg: rgba(0, 0, 0, 0.4);
  --header-height: 40px;
  --header-color: rgba(255, 255, 255, 0.8);

  // sider
  --sider-bg: rgba(0, 0, 0, 0.4);
  --sider-width: 240px;
  --sider-color: rgba(255, 255, 255, 0.8);
}
