@import "variables/variables";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: var(--header-height);
  background: var(--header-bg);
  color: var(--header-color);
  z-index: var(--zIndex-appBar);
  display: flex;
  align-items: center;
  justify-content: space-between;
  //box-shadow: var(--shadows-1);
  backdrop-filter: blur(5px);
}

.header-left {
  display: flex;
  height: 100%;
  align-items: center;
}

// header menu
.header-menu-wrap {
  display: none;
}

.header-menu {
  display: flex;
}

.header-sub-menu {
  background-color: var(--header-bg);
}

.header-menu-item-link {
  height: var(--header-height);
  color: var(--header-color);
}

@media screen and (min-width: $breakpoints-values-md) {
  .header-menu-wrap {
    display: block;
  }
}
