@import "variables/variables";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: var(--header-height);
  background: var(--header-bg);
  color: var(--header-color);
  z-index: var(--zIndex-appBar);
  display: flex;
  align-items: center;
  justify-content: space-between;
  //box-shadow: var(--shadows-1);
  backdrop-filter: blur(5px);
}

.header-left {
  display: flex;
  height: 100%;
  align-items: center;
}

@media screen and (min-width: $breakpoints-values-md) {
  .header-menu-wrap {
    display: block;
  }
}

.header {
  .menu {
    transform-origin: left top;
  }
  .menu:not(.l1) {
    background-color: var(--header-bg);
    border-radius: 4px;
  }
  .menu-navi {
    padding: 0 8px;
  }
  .menu-link {
    height: 32px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    word-break: keep-all;
    border-radius: 4px;
    width: 140px;
    padding: 0 8px;
    gap: 5px;
  }
  .menu.l1 > .menu-item > .menu-navi > .menu-link {
    width: auto;
    height: var(--header-height);
  }

  .menu-link:hover {
    background-color: var(--header-hover-bg);
  }

  .menu .menu {
    padding: 5px 0;
  }
}
