@import "/src/themes/scss-themes";
@import "mixins/responsive";

// container
.ctn {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@include devices(tablet) {
  .ctn {
    width: $var-breakpoints-md;
    max-width: $var-breakpoints-md;
  }
}

@include devices(desktop) {
  .ctn {
    width: $var-breakpoints-lg;
    max-width: $var-breakpoints-lg;
  }
}

// 1. sections
:root {
  --sec-spacing: 15px;
}
@include devices(tablet) {
  :root {
    --sec-spacing: 20px;
  }
}
@include devices(desktop) {
  :root {
    --sec-spacing: 30px;
  }
}
.sec {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
// vertical space between sections
.sec-mt {
  margin-top: var(--sec-spacing);
}
.sec-mb {
  margin-bottom: var(--sec-spacing);
}
.sec-my {
  margin-top: var(--sec-spacing);
  margin-bottom: var(--sec-spacing);
}
.sec-pt {
  padding-top: var(--sec-spacing);
}
.sec-pb {
  padding-bottom: var(--sec-spacing);
}
.sec-py {
  padding-top: var(--sec-spacing);
  padding-bottom: var(--sec-spacing);
}

// 2. contents
:root {
  --content-padding: 8px;
}
@include devices(tablet) {
  :root {
    --content-padding: 12px;
  }
}
@include devices(desktop) {
  :root {
    --content-padding: 15px;
  }
}
.ctt {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.ctt {
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
}

// 3. cards
:root {
  --card-padding: 8px;
}
@include devices(tablet) {
  :root {
    --card-padding: 12px;
  }
}
@include devices(desktop) {
  :root {
    --card-padding: 15px;
  }
}
.card {
  padding: var(--card-padding);
}
