html {
  touch-action: manipulation;
  font-feature-settings: "rlig" 1, "calt" 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: var(--typography-htmlFontSize);
  scroll-behavior: smooth;
}

body {
  font-size: var(--typography-fontSize);
  color: var(--palette-text-primary);
  scroll-behavior: smooth;
}

body {
  background-color: var(--palette-background-default);
  height: 100vh;
  overflow-y: hidden;
}
