.sider-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: calc(var(--zIndex-drawer) - 1);
  transition: opacity var(--transitions-duration-shorter);
}

.sider-mask.open {
  width: 100vw;
  opacity: 1;
}

.sider {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translate3d(-100%, 0, 0);
  z-index: var(--zIndex-drawer);
  width: var(--sider-width);
  background-color: var(--sider-bg);
  transition: transform var(--transitions-easing-easeInOut)
    var(--transitions-duration-shorter);
  box-shadow: var(--shadows-8);
  ul {
    padding: 5px !important;
  }
}

.sider.open {
  transform: translate3d(0, 0, 0);
}

.sider-sub-menu-ctn {
  transition: all 10s ease;
  background-color: var(--sider-bg);
}

.sider-menu-item-link {
  color: var(--sider-color);
  height: 32px;
}
