@import "mixins/responsive";

.abs-fill {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.abs-full {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.full {
  width: 100%;
  height: 100%;
}
