html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menu {
  background-color: rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
}
.menu-item-link {
  cursor: pointer;
  user-select: none;
}

.menu {
  width: 240px;
}

.menu-item {
  position: relative;
}
.menu .menu {
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}
.menu .menu.show {
  opacity: 1;
}

.menu.l3 {
  position: absolute;
  left: 100%;
}
