:root {
  --mode: light;
  --primary-main: #d4237a;
  --primary-light: rgb(220, 79, 148);
  --primary-dark: rgb(148, 24, 85);
  --primary-contrastText: #fff;
  --common-black: #000;
  --common-white: #fff;
  --secondary-main: #9c27b0;
  --secondary-light: #ba68c8;
  --secondary-dark: #7b1fa2;
  --secondary-contrastText: #fff;
  --error-main: #d32f2f;
  --error-light: #ef5350;
  --error-dark: #c62828;
  --error-contrastText: #fff;
  --warning-main: #ed6c02;
  --warning-light: #ff9800;
  --warning-dark: #e65100;
  --warning-contrastText: #fff;
  --info-main: #0288d1;
  --info-light: #03a9f4;
  --info-dark: #01579b;
  --info-contrastText: #fff;
  --success-main: #2e7d32;
  --success-light: #4caf50;
  --success-dark: #1b5e20;
  --success-contrastText: #fff;
  --grey-50: #fafafa;
  --grey-100: #f5f5f5;
  --grey-200: #eeeeee;
  --grey-300: #e0e0e0;
  --grey-400: #bdbdbd;
  --grey-500: #9e9e9e;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #212121;
  --grey-A100: #f5f5f5;
  --grey-A200: #eeeeee;
  --grey-A400: #bdbdbd;
  --grey-A700: #616161;
  --contrastThreshold: 3;
  --tonalOffset: 0.2;
  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-disabled: rgba(0, 0, 0, 0.38);
  --divider: rgba(0, 0, 0, 0.12);
  --background-paper: #fff;
  --background-default: #fff;
  --action-active: rgba(0, 0, 0, 0.54);
  --action-hover: rgba(0, 0, 0, 0.04);
  --action-hoverOpacity: 0.04;
  --action-selected: rgba(0, 0, 0, 0.08);
  --action-selectedOpacity: 0.08;
  --action-disabled: rgba(0, 0, 0, 0.26);
  --action-disabledBackground: rgba(0, 0, 0, 0.12);
  --action-disabledOpacity: 0.38;
  --action-focus: rgba(0, 0, 0, 0.12);
  --action-focusOpacity: 0.12;
  --action-activatedOpacity: 0.12;
  --direction: ltr;
  --shape-borderRadius: 4px;
  --shadows-0: none;
  --shadows-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --shadows-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --shadows-3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --shadows-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --shadows-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  --shadows-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --shadows-7: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  --shadows-8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --shadows-9: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  --shadows-10: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  --shadows-11: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
    0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
  --shadows-12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  --shadows-13: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  --shadows-14: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
    0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
  --shadows-15: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
    0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
  --shadows-16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --shadows-17: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
    0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
  --shadows-18: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
    0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
  --shadows-19: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
    0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
  --shadows-20: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
  --shadows-21: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
  --shadows-22: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
    0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
  --shadows-23: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
    0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
  --shadows-24: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  --typography-htmlFontSize: 16px;
  --typography-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
  --typography-fontSize: 14px;
  --typography-fontWeightLight: 300;
  --typography-fontWeightRegular: 400;
  --typography-fontWeightMedium: 500;
  --typography-fontWeightBold: 700;
  --typography-h1-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
  --typography-h1-fontWeight: 300;
  --typography-h1-fontSize: 6rem;
  --typography-h1-lineHeight: 1.167;
  --typography-h1-letterSpacing: -0.01562em;
  --typography-h2-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
  --typography-h2-fontWeight: 300;
  --typography-h2-fontSize: 3.75rem;
  --typography-h2-lineHeight: 1.2;
  --typography-h2-letterSpacing: -0.00833em;
  --typography-h3-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
  --typography-h3-fontWeight: 400;
  --typography-h3-fontSize: 3rem;
  --typography-h3-lineHeight: 1.167;
  --typography-h3-letterSpacing: 0em;
  --typography-h4-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
  --typography-h4-fontWeight: 400;
  --typography-h4-fontSize: 2.125rem;
  --typography-h4-lineHeight: 1.235;
  --typography-h4-letterSpacing: 0.00735em;
  --typography-h5-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
  --typography-h5-fontWeight: 400;
  --typography-h5-fontSize: 1.5rem;
  --typography-h5-lineHeight: 1.334;
  --typography-h5-letterSpacing: 0em;
  --typography-h6-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
  --typography-h6-fontWeight: 500;
  --typography-h6-fontSize: 1.25rem;
  --typography-h6-lineHeight: 1.6;
  --typography-h6-letterSpacing: 0.0075em;
  --typography-subtitle1-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
  --typography-subtitle1-fontWeight: 400;
  --typography-subtitle1-fontSize: 1rem;
  --typography-subtitle1-lineHeight: 1.75;
  --typography-subtitle1-letterSpacing: 0.00938em;
  --typography-subtitle2-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
  --typography-subtitle2-fontWeight: 500;
  --typography-subtitle2-fontSize: 0.875rem;
  --typography-subtitle2-lineHeight: 1.57;
  --typography-subtitle2-letterSpacing: 0.00714em;
  --typography-body1-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
  --typography-body1-fontWeight: 400;
  --typography-body1-fontSize: 1rem;
  --typography-body1-lineHeight: 1.5;
  --typography-body1-letterSpacing: 0.00938em;
  --typography-body2-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
  --typography-body2-fontWeight: 400;
  --typography-body2-fontSize: 0.875rem;
  --typography-body2-lineHeight: 1.43;
  --typography-body2-letterSpacing: 0.01071em;
  --typography-button-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
  --typography-button-fontWeight: 500;
  --typography-button-fontSize: 0.875rem;
  --typography-button-lineHeight: 1.75;
  --typography-button-letterSpacing: 0.02857em;
  --typography-button-textTransform: uppercase;
  --typography-caption-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
  --typography-caption-fontWeight: 400;
  --typography-caption-fontSize: 0.75rem;
  --typography-caption-lineHeight: 1.66;
  --typography-caption-letterSpacing: 0.03333em;
  --typography-overline-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
  --typography-overline-fontWeight: 400;
  --typography-overline-fontSize: 0.75rem;
  --typography-overline-lineHeight: 2.66;
  --typography-overline-letterSpacing: 0.08333em;
  --typography-overline-textTransform: uppercase;
  --transitions-easing-easeInOut: cubic-bezier(0.4, 0, 0.2, 1);
  --transitions-easing-easeOut: cubic-bezier(0, 0, 0.2, 1);
  --transitions-easing-easeIn: cubic-bezier(0.4, 0, 1, 1);
  --transitions-easing-sharp: cubic-bezier(0.4, 0, 0.6, 1);
  --transitions-duration-shortest: 150ms;
  --transitions-duration-shorter: 200ms;
  --transitions-duration-short: 250ms;
  --transitions-duration-standard: 300ms;
  --transitions-duration-complex: 375ms;
  --transitions-duration-enteringScreen: 225ms;
  --transitions-duration-leavingScreen: 195ms;
  --zIndex-mobileStepper: 1000;
  --zIndex-fab: 1050;
  --zIndex-speedDial: 1050;
  --zIndex-appBar: 1100;
  --zIndex-drawer: 1200;
  --zIndex-modal: 1300;
  --zIndex-snackbar: 1400;
  --zIndex-tooltip: 1500;
}
.dark {
  --mode: dark;
  --primary-main: #d4237a;
  --primary-light: rgb(220, 79, 148);
  --primary-dark: rgb(148, 24, 85);
  --primary-contrastText: #fff;
  --common-black: #000;
  --common-white: #fff;
  --secondary-main: #ce93d8;
  --secondary-light: #f3e5f5;
  --secondary-dark: #ab47bc;
  --secondary-contrastText: rgba(0, 0, 0, 0.87);
  --error-main: #f44336;
  --error-light: #e57373;
  --error-dark: #d32f2f;
  --error-contrastText: #fff;
  --warning-main: #ffa726;
  --warning-light: #ffb74d;
  --warning-dark: #f57c00;
  --warning-contrastText: rgba(0, 0, 0, 0.87);
  --info-main: #29b6f6;
  --info-light: #4fc3f7;
  --info-dark: #0288d1;
  --info-contrastText: rgba(0, 0, 0, 0.87);
  --success-main: #66bb6a;
  --success-light: #81c784;
  --success-dark: #388e3c;
  --success-contrastText: rgba(0, 0, 0, 0.87);
  --grey-50: #fafafa;
  --grey-100: #f5f5f5;
  --grey-200: #eeeeee;
  --grey-300: #e0e0e0;
  --grey-400: #bdbdbd;
  --grey-500: #9e9e9e;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #212121;
  --grey-A100: #f5f5f5;
  --grey-A200: #eeeeee;
  --grey-A400: #bdbdbd;
  --grey-A700: #616161;
  --contrastThreshold: 3;
  --tonalOffset: 0.2;
  --text-primary: #fff;
  --text-secondary: rgba(255, 255, 255, 0.7);
  --text-disabled: rgba(255, 255, 255, 0.5);
  --text-icon: rgba(255, 255, 255, 0.5);
  --divider: rgba(255, 255, 255, 0.12);
  --background-paper: #121212;
  --background-default: #121212;
  --action-active: #fff;
  --action-hover: rgba(255, 255, 255, 0.08);
  --action-hoverOpacity: 0.08;
  --action-selected: rgba(255, 255, 255, 0.16);
  --action-selectedOpacity: 0.16;
  --action-disabled: rgba(255, 255, 255, 0.3);
  --action-disabledBackground: rgba(255, 255, 255, 0.12);
  --action-disabledOpacity: 0.38;
  --action-focus: rgba(255, 255, 255, 0.12);
  --action-focusOpacity: 0.12;
  --action-activatedOpacity: 0.24;
}
