$breakpoints-keys-0: xs;
$breakpoints-keys-1: sm;
$breakpoints-keys-2: md;
$breakpoints-keys-3: lg;
$breakpoints-keys-4: xl;
$breakpoints-values-xs: 0px;
$breakpoints-values-sm: 600px;
$breakpoints-values-md: 900px;
$breakpoints-values-lg: 1200px;
$breakpoints-values-xl: 1536px;
