@import "breakpoints";

:root {
  --layout-gap-x: 16px;
  --layout-gap-y: 8px;
  --layout-margin-x: 8px;
  --layout-margin-y: 16px;
  --card-padding: 8px;
  --topbar-height: 40px;
}

@media screen and (min-width: $breakpoints-values-md) {
  :root {
    --layout-gap-x: 16px;
    --layout-gap-y: 16px;
    --layout-margin-x: 16px;
    --layout-margin-y: 16px;
    --card-padding: 8px;
    --topbar-height: 40px;
  }
}

@media screen and (min-width: $breakpoints-values-lg) {
  :root {
    --layout-gap-x: 24px;
    --layout-gap-y: 24px;
    --layout-margin-x: 24px;
    --layout-margin-y: 24px;
    --card-padding: 16px;
    --topbar-height: 40px;
  }
}
