@import "../variables/breakpoints";

.hide-md {
}
.show-md {
  display: none;
}

@media screen and (min-width: $breakpoints-values-md) {
  .hide-md {
    display: none;
  }
  .show-md {
    display: block;
  }
}
