.main-layout-body {
  display: flex;
}

.main-layout-content {
  flex: 1;
  padding: var(--layout-margin-y) var(--layout-margin-x);
}

.card {
  padding: var(--card-padding);
  background-color: var(--palette-background-paper);
  border-radius: var(--shape-borderRadius);
  box-shadow: var(--shadows-2);
}
